# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/.idea/
common/HELP.md
/common/.mvn/
/common/.mvn/wrapper/
.idea/.gitignore
.idea/compiler.xml
.idea/dataSources.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/spring-mytatis/target/
!/logs/
/logs/
!/logs/
common/target/

!/logs/info/
!/logs/warn/
!/logs/log_debug.log
!/logs/log_error.log
!/logs/log_info.log
!/logs/log_warn.log
!/logs/
!/.idea/
.idea/redisSettings.xml
.idea/setting.xml
.idea/uiDesigner.xml
logs/log_debug.log
logs/log_error.log
logs/log_info.log
logs/log_warn.log
springsource/src/main/java/com/example/zhw/springsource/basic/
springsource/src/main/java/com/example/zhw/springsource/cas/result.xml
springsource/src/main/java/com/example/zhw/springsource/equals/
springsource/src/main/java/com/example/zhw/springsource/springdesign/adapter/
springsource/src/main/java/com/example/zhw/springsource/springdesign/strategy/
springsource/target/
